.banner-blog {
  .banner {
    background: url("../../dist/img/blog-banner-mob.png") center center
      no-repeat;
    h1 {
      top: 200px;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      background: url("../../dist/img/blog-banner-desk.png") center center
        no-repeat;
    }
  }
}

.destaque-blog {
  margin-bottom: 74px;
  padding-bottom: 0 !important;
  .sub {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #888 !important;
    margin-bottom: 0 !important;
    position: relative;
    top: 20px;
  }
  .tns-controls {
    top: 200px !important;
    width: 85% !important;
    left: 30px;
  }
}

.blog-posts {
  padding-top: 64px;
  padding-bottom: 64px;
  background: $gray;
  margin-top: -75px;
  .item {
    position: relative;
    border-radius: 8px;
    height: 480px;
    margin-bottom: 25px;
    .container {
      border-radius: 8px;
      background: linear-gradient(#000 -150%, rgba(0, 0, 0, 0) 240%);
      height: 100%;
      position: relative;
      .text {
        position: absolute;
        bottom: 30px;
        width: 80%;
        .title {
          color: #fcfcfc;
          font-size: 32px;
          line-height: 39.6px;
          padding-bottom: 12px;
        }
        p {
          color: #fff;
        }
        .btn-cta {
          color: #fff;
          border-color: #fff;
          margin: 25px auto 0 0;
        }
      }
    }
  }
  .low-size {
    height: 281px;
  }
  .btn-cta {
    color: $red;
    border-color: $red;
    margin-top: 35px !important;
  }
}

.recipes-blog {
  .header {
    .title {
      color: $red !important;
    }
    .line {
      background: $green;
    }
  }
  .tns-controls {
    width: 100% !important;
    top: 150px !important;
    left: 0 !important;
  }
}

.intro-single-blog {
  .title {
    color: $blue !important;
    font-size: 38px !important;
  }
}

.main-single-blog {
  background: $gray;
  .img-single-blog {
    height: 440px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.intro-section-blog {
  .title {
    margin: 0 auto;
    display: block;
  }
}

.blog-carousel {
  .tns-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    top: 200px;
    width: 85%;
    left: 30px;
    button {
      width: 37px;
      height: 36px;
      background: #fcfcfc;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 50%;
      outline: none;
      border: none;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .destaque-blog {
    .sub {
      text-align: left !important;
    }
    .wrapper {
      max-width: 1140px;
      margin: 0 auto;
      padding: 0 30px;
      .tns-controls {
        top: 270px !important;
        width: 110% !important;
        left: -50px !important;
      }
      .carousel-blog-recipes {
        .item {
          border-radius: 8px;
          height: 500px;
          p {
            max-width: 40%;
          }
        }
      }
    }
  }
  .blog-posts {
    margin-top: unset;
    .item .btn-cta:hover {
      background: white;
      color: $blue !important;
    }
    .item:hover {
      transform: scale(1.03);
      z-index: 100;
      position: relative;
      transition: 0.3s all ease-in-out;
    }
    .flex-row-reverse {
      .medium-size {
        margin-left: unset !important;
        margin-right: 10px !important;
      }
      .low-size {
        margin-left: unset !important;
        margin-right: 10px !important;
      }
    }

    .impar:last-child {
      @extend .col-lg-12;

      .btn-cta {
        @extend .col-lg-2;
      }
    }

    .medium-size {
      height: 235px;
      margin-bottom: 10px !important;
      margin-left: 10px;
      .btn-cta {
        margin-top: 10px !important;
      }
    }
    .low-size {
      height: 235px;
      margin-left: 10px;
      margin-bottom: 0;
      width: 48%;
      p {
        display: none;
      }
      .title {
        font-size: 22px !important;
        line-height: 24px !important;
      }
      .btn-cta {
        margin-top: 10px !important;
      }
    }
    .btn-cta:hover {
      background: $red;
      color: white;
    }
  }

  // SINGLE

  .main-single-blog {
    position: relative;
    top: 160px;
    margin-bottom: 160px;
    .top-150 {
      position: relative;
      max-width: 1080px;
      margin: 0 auto;
      padding-top: 250px;
      .container {
        padding-left: 120px;
        padding-right: 120px;
      }
    }
    .img-single-blog {
      border-radius: 8px;
      position: absolute;
      top: -200px;
      width: 100%;
      padding: 0 30px;
      margin: 0 auto;
    }
  }
  .white-bg {
    background: none !important;
    padding-top: 10px !important;
  }

  // NOSSAS MARCAS
  .wrapper-marcas {
    // max-width: unset !important;
    .item {
      img {
        margin: 0 !important;
        max-width: 80% !important;
        &:hover {
          filter: invert(40%) sepia(5%) saturate(19%) hue-rotate(314deg)
            brightness(101%) contrast(90%);
        }
      }
    }
    // .no-filter {
    //   img {
    //     filter: none !important;
    //   }
    // }
    .control-lg-marca {
      margin-top: 15px;
      a {
        border-radius: 50%;
        background: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        i {
          color: white;
        }
      }
    }
  }
}
