.banner-contato {
  .banner {
    background: url("../../dist/img/banner-contato-mob.png") center center
      no-repeat;
    h1 {
      top: 200px;
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    .banner {
      background: url("../../dist/img/banner-contato-desk.png") center center
        no-repeat;
    }
  }
}

.is-contato-ref {
  .title {
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
  }
}

.intro-section-contato {
  padding-top: 40px;
  text-align: center !important;
  .title-contato {
    font-size: 43px;
    line-height: 41px;
  }
  img {
    width: 50px !important;
  }
}

.section-form {
  padding-top: 70px;
  padding-bottom: 70px;
  background: $gray;
  .form-contato {
    input[type="text"],
    input[type="email"],
    input[type="file"],
    textarea,
    select {
      width: 100%;
      border-radius: 32.5px;
      border: 1px solid #888;
      font-size: 18px !important;
      line-height: 24px;
      font-weight: normal !important;
      color: #212121;
      padding: 20px 30px;
      margin-bottom: 15px;
      outline: none;
      &::placeholder,
      &::-moz-placeholder {
        font-size: 18px;
        line-height: 24px;
        color: #212121;
      }
    }

    .lote {
      position: relative;
      .onde-encontrar-span {
        // display: none;
        position: absolute;
        top: 20px;
        right: 10px;

        span {
          font-family: "Open Sans";
          font-weight: normal;
          font-size: 12px;
          line-height: 24px;
          text-align: left;
          color: $red;
        }
      }

      .span-hover {
        position: absolute;
        display: none;
        z-index: 5;
        left: -56%;
        top: 40px;
        width: 161px;
        height: 200px;
        background: #d6d6d6;
        filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
        border-radius: 8px;
        div {
          background: url("../../dist/img/span-hover.png") center center
            no-repeat;
          height: 180px;
          width: 141px;
          position: relative;
          top: -20px;
          left: 10px;
          background-size: contain;
        }
        &::before {
          display: block;
          content: "";
          width: 30px;
          height: 30px;
          position: relative;
          background: #d6d6d6;
          top: -10px;
          left: 41%;
          transform: rotate(-45deg);
        }
      }
    }
    select,
    option,
    input[type="file"] {
      font-size: 18px !important;
      line-height: 24px !important;
      color: #7e7e7e !important;
    }

    textarea {
      height: 223px;
    }

    .btn-cta {
      margin-top: 30px;
      border-color: $red;
      color: $red;
      text-transform: uppercase;
    }
  }

  .infos {
    .box {
      margin-bottom: 25px;
      .lh-custom {
        line-height: 25px;
      }
      .mini-title,
      a {
        font-weight: bold;
        font-size: 18px !important;
        line-height: 35px;
        color: #212121;
      }
      a {
        display: flex;
        align-items: baseline;
        font-weight: 600;
        color: #7e7e7e;
        font-size: 20px;
        i {
          color: $green;
          padding-right: 7px;
        }
      }
    }
  }
}

.red-box-info {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $red;
  margin-bottom: 50px;
  a {
    display: flex;
    align-items: baseline;
  }
  a,
  p {
    font-size: 20px;
    line-height: 35px;
    color: white;
  }
  p {
    margin-bottom: 0;
  }
  i {
    color: $green;
    padding-right: 7px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .intro-section-contato {
    .line {
      margin: 20px auto;
      width: 300px;
    }
  }
  .form-contato {
    border-radius: 8px;
    background: #fff;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    padding: 100px 120px !important;
    br {
      display: none;
    }

    .onde-encontrar-span {
      display: block !important;
      position: absolute;
      top: 21px;
      left: 71%;
      cursor: pointer;
      &:hover .span-hover {
        display: block !important;
      }
    }

    .span-hover {
      position: absolute;
      display: none;
      z-index: 5;
      left: -25%;
      top: 40px;
      width: 161px;
      height: 200px;
      background: #d6d6d6;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 8px;
      div {
        background: url("../../dist/img/span-hover.png") center center no-repeat;
        height: 180px;
        width: 141px;
        position: relative;
        top: -20px;
        left: 10px;
        background-size: contain;
      }
      &::before {
        display: block;
        content: "";
        width: 30px;
        height: 30px;
        position: relative;
        background: #d6d6d6;
        top: -10px;
        left: 41%;
        transform: rotate(-45deg);
      }
    }

    .assunto select {
      background-position-x: 95%;
    }
    .email {
      width: 80% !important;
      margin-right: 5px;
    }
    .custom-email {
      border-radius: 32.5px 0px 0px 32.5px !important;
    }
    .custom-tel {
      border-radius: 0 32.5px 32.5px 0 !important;
    }
    .estado {
      margin-right: 5px;
    }
    .custom-estado {
      border-radius: 32.5px 0px 0px 32.5px !important;
      background-position-x: 55%;
    }
    .cidade {
      margin-right: 5px;
    }
    .custom-cidade {
      border-radius: 0 !important;
    }
    // .departamento {
    //   select {
    //     background-position-x: 95%;
    //   }
    // }
    .custom-departamento {
      border-radius: 0 32.5px 32.5px 0 !important;
    }
    .custom-lote {
      border-radius: 0 32.5px 32.5px 0 !important;
      margin-left: 5px;
    }
    .custom-produto {
      border-radius: 32.5px 0px 0px 32.5px !important;
      margin-right: 5px;
      background-position-x: 95%;
    }
    .produto,
    .lote {
      width: 50%;
    }
    select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #333;
      font-size: 15px;
      padding-right: 20px;
      position: relative;
      background: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzA2cHgiIGhlaWdodD0iMzA2cHgiIHZpZXdCb3g9IjAgMCAzMDYgMzA2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMDYgMzA2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBvbHlnb24gcG9pbnRzPSIyNzAuMyw1OC42NSAxNTMsMTc1Ljk1IDM1LjcsNTguNjUgMCw5NC4zNSAxNTMsMjQ3LjM1IDMwNiw5NC4zNSIvPjwvZz48L3N2Zz4=)
        center right no-repeat;
      background-size: 8px 8px;
      background-position-y: 53%;
    }

    input[type="submit"]:hover {
      background: $red;
      color: white;
    }
    .wpcf7-not-valid-tip {
      position: relative;
      top: -15px;
    }
  }
  .red-box-info {
    max-width: 900px;
    border-radius: 8px;
    margin: 0 auto;
  }
}
