footer {
  background: url("../../dist/img/bg-footer-mob.png") no-repeat;
  background-size: cover;
  padding-top: 115px;
  padding-bottom: 50px;
  .top-button {
    position: absolute;
    top: -70px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53.89px;
    height: 52.44px;
    background: #fcfcfc;
    border-radius: 50%;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
    i {
      font-size: 40px;
    }
  }
  .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28.8px;
    color: $red;
    margin-bottom: 35px;
    margin-top: 35px;
    font-style: normal !important;
    font-family: "Open Sans";
  }

  a {
    font-size: 16px;
    line-height: 42px;
    display: block;
    color: #888;
  }

  .midias-footer {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buy-online {
      width: 151px;
      height: 49px;
      border-radius: 8px;
      background: $red;
      font-weight: bold;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a i {
      font-size: 20px;
      color: $red;
    }
  }

  .mini {
    font-size: 11px;
    line-height: 20px;
    text-align: left;
    a {
      display: inline;
    }
    img {
      position: relative;
      top: -2px;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: url("../../dist/img/bg-footer-desk.png") no-repeat;
    background-size: 100% !important;
    position: relative;
    padding-bottom: 10px;

    .top-button {
      top: 160px;
      right: 3%;
      &:hover {
        background: $red;
        i {
          color: white;
        }
      }
    }

    .title {
      font-style: normal;
    }

    a {
      display: inline-table;
      line-height: 25px;
    }

    .links {
      display: flex;
      flex-direction: column;
    }

    .container {
      padding-top: 270px;

      a:hover {
        color: $red;
      }

      .midias-footer {
        margin-bottom: 20px;
        .buy-online:hover {
          background: $blue;
          color: white;
        }
        i:hover {
          transform: scale(1.05);
        }
      }

      .mini a:hover img {
        filter: invert(39%) sepia(38%) saturate(3115%) hue-rotate(353deg)
          brightness(93%) contrast(95%);
      }
    }

    .fake-bg {
      background: #f8f8f8;
      height: 400px;
      position: absolute;
      bottom: 0;
      z-index: -1;
      width: 100%;
    }
  }
}

@media (min-width: 1600px) {
  footer {
    .container {
      padding-top: 400px !important;
    }
    .top-button {
      right: -7% !important;
    }
  }
}
