header {
  position: relative;
  .header-bg {
    height: 125px;
    background: #fff;
    opacity: 0.95;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .header {
    padding: 30px 0;
    position: absolute;
    width: 100%;
    .container {
      max-width: 1350px;
      display: flex;
      align-items: flex-end;
      height: 100%;
      position: relative;
      z-index: 10;

      .links {
        position: absolute;
        right: 20px;
        width: 87%;

        a,
        .dropdown,
        .dropdown span {
          padding: 10px;
          padding-bottom: 50px;
          font-size: 17px;
          outline: none;
          line-height: 20px;
          color: $blue;
          display: unset;
          &:hover {
            color: $red;
          }
        }
        .dropdown:hover {
          .dropdown-content {
            display: block;
          }
        }
        .dropdown-content {
          margin-top: 10px;
          display: none;
          position: absolute;
          background-color: #730217;
          min-width: 288px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          padding: 12px 16px;
          z-index: 1;
          left: 5px;
          top: 49px;
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
          a {
            padding-bottom: 10px;
            display: block;
            color: white;
            &:hover {
              transform: scale(1.02);
            }
          }
        }
      }

      .btn-midias {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 20%;
        top: -30px;
        right: 5%;
        .buy-online {
          width: 151px;
          height: 49px;
          border-radius: 0px 0px 8px 8px;
          background: $red;
          font-weight: bold;
          font-size: 14px;
          line-height: 45px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          &:hover {
            background: $blue;
          }
        }
      }

      a i {
        font-size: 18px;
        color: $red;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.ativo {
  height: 100vh !important;
  align-items: baseline !important;
  position: fixed !important;
  background: $red !important;

  .logo-header {
    filter: brightness(0) invert(1);
  }
  .menu-icon {
    .navicon {
      &:before,
      &:after {
        background: white !important;
      }
    }
  }
  .menu {
    position: absolute;
    max-height: 100% !important;
    top: 140px;
    a {
      padding: 10px 0;
    }
  }
}

.bg-transparent {
  height: 126px;
  position: absolute;
  top: 0;
  background: white !important;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
  filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
}

.top-nav {
  padding: 30px;
  height: 126px;
  position: absolute;
  background: transparent;
  top: 0;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: 100%;
    max-height: 0;
    transition: max-height 0s ease-in-out;

    a,
    span {
      font-family: "Open Sans";
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #fff;
    }
    .a-mini {
      font-size: 12px;
      line-height: 14px;
      padding-left: 15px;
    }

    .midias-header {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      .buy-online {
        height: 49px;
        border-radius: 0px 0px 8px 8px;
        background: $green;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
        padding-left: 10px;
        padding-right: 10px;
      }

      a {
        color: $green;
        font-size: 20px;
      }
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 25px 10px;
    margin-bottom: 0;
    position: absolute;
    right: 20px;

    .navicon {
      background: #b32318;
      display: block;
      height: 2px;
      position: relative;
      width: 1.625rem;

      &:before,
      &:after {
        background: #b32318;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
      }

      &:before {
        top: 7px;
      }

      &:after {
        top: -7px;
      }
    }
  }

  .menu-btn {
    display: none;

    &:checked ~ .menu {
      max-height: 300px;
    }

    &:checked ~ .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }

    &:checked ~ .menu-icon:not(.steps) .navicon {
      &:before,
      &:after {
        top: 0;
      }
    }
  }
}

.box-btn-header,
.box-btn-header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    border-bottom: none !important;
  }
}

.box-btn-header-2 {
  position: absolute;
  bottom: 15px;
  display: none;
}

// DESKTOP MENU CSS
@media (min-width: 840px) {
  .top-nav li {
    margin: 0 10px;
  }
  .top-nav .menu {
    width: auto;
    max-height: none;
    flex-direction: row;
  }
  .top-nav .menu-icon {
    display: none;
  }
}

@media (min-width: 830px) and (max-width: 1270px) {
  header {
    .links {
      width: 84% !important;
      a {
        font-size: 15px !important;
      }
    }
  }
}

@media (min-width: 840px) and (max-width: 1000px) {
  .top-nav {
    .menu {
      flex-direction: column;
      width: 100%;
      max-height: 0;
    }
    .menu-icon {
      display: block !important;
    }
  }
}
