.banner-home {
  height: 643px;
  background: url("../../dist/img/banner-home-lg.png") no-repeat;
  background-position-x: 100%;
  background-size: cover;
  .click-banner {
    position: absolute;
    bottom: 20px;
    left: 49%;
  }
  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 140px;
    .title {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: #fcfcfc;
      text-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    }
    .sub {
      font-size: 24px;
      color: #fcfcfc;
      text-align: center;
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 40px;
    }
    .btn-cta {
      background: $red;
      color: white;
      border: none;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 50px;
    }
    .box-green {
      width: 100%;
      background: $green;
      border-radius: 8px;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      padding: 20px 30px;
      position: relative;
      .title {
        margin-bottom: 0;
        font-size: 28px;
      }
      .white-box {
        display: flex;
        justify-content: space-evenly;
        background: white;
        padding: 20px;
        bottom: -20px;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }
}

.is-home {
  padding-top: 150px;
  position: relative;
  padding-bottom: 60px;
  .title {
    margin: 0 auto;
  }
  p {
    text-align: center;
    margin: 20px auto 40px auto;
  }
  .btn-cta {
    border-color: $red;
    color: $red;
    &:hover {
      background: $red;
      color: white;
    }
  }
  .cafe-left {
    position: absolute;
    left: -40px;
    top: 90px;
    width: 170px;
  }
  .cafe-right {
    position: absolute;
    right: 0px;
    bottom: -5px;
    width: 100px;
  }
}

.locacao-home {
  margin-top: -30px;
  background: $red;
  padding-top: 40px;
  padding-bottom: 60px;

  .header-section {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 25px;

    img {
      width: 50px;
    }
    .title {
      padding-left: 10px;
      font-size: 35px;
      line-height: 37px;
      color: #fcfcfc;
    }
  }
  p {
    text-align: center;
    color: white;
  }
  .wrapper {
    .tns-controls {
      display: flex;
      justify-content: space-between;
      width: 110%;
      position: relative;
      top: -140px;
      left: -15px;
      outline: none;
      button {
        border-radius: 50%;
        background: white;
        border: none;
        outline: none;
        height: 37px;
        width: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          color: $blue;
        }
      }
    }
    .carousel-maquinas-home {
      position: relative;
      top: 40px;
      padding-bottom: 10px;
      height: 275px;
      .item {
        .green {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $green;
          padding: 25px;
          height: 230px;
          border-radius: 8px;
          img {
            position: relative;
            height: 130%;
            top: -40px;
          }
        }

        &:last-child {
          img {
            height: 100%;
            top: -20px;
          }
        }
      }
    }
  }
  .btn-cta {
    border-color: white;
    color: white;

    &:hover {
      background: white;
      color: $red;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    background: white;
    .container {
      padding-top: 40px;
      background: $red;
      border-radius: 8px;
      height: 400px;
      display: flex;
      justify-content: space-between;
      padding-left: 80px;
      padding-right: 80px;
      align-items: center;
      .header-section {
        align-items: flex-start;
        justify-content: space-between;
        div {
          margin-left: 50px;
          .title {
            padding: 0;
            line-height: 45px;
          }
          p {
            text-align: left;
            margin: 15px 0;
          }
          .btn-cta {
            margin: 0;
            margin-top: 40px !important;
            &:hover {
              background: white;
              color: $red;
            }
          }
        }
      }
      .wrapper {
        top: 70px;
        .tns-controls {
          top: -250px;
        }
      }
      .carousel-maquinas-home {
        height: 500px !important;
        top: 100px;
        &:first-child {
          .green img {
            top: -55px;
          }
        }
        .item {
          &:last-child {
            img {
              height: auto;
              top: 0px;
            }
          }
        }
        .green {
          height: 325px !important;
        }
      }
    }
  }
}

.terc-export-home {
  padding-top: 40px;
  padding-bottom: 50px;
  .export {
    .title {
      color: $red;
    }
    .btn-cta {
      border-color: $red;
      color: $red;
      &:hover {
        background: $red;
        color: white;
      }
    }
  }
  .terc {
    .title {
      margin: 0 auto;
      color: $blue;
    }
    .btn-cta {
      border-color: $blue;
      color: $blue;
      margin-bottom: 50px;
      &:hover {
        background: $blue;
        color: white;
      }
    }
    p {
      margin: 0 auto;
    }
  }
  .terc,
  .export {
    text-align: center;
    .head {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 24px;
      color: #888;
      text-transform: uppercase;
      margin-bottom: 23px;
    }
    img {
      width: 100%;
      border-radius: 15px;
      margin-bottom: 30px;
    }
    .title {
      font-size: 32px;
      line-height: 37px;
      margin-bottom: 30px !important;
    }
    p {
      font-size: 16px;
      margin-bottom: 40px;
    }
    .sub-btn {
      padding-top: 10px;
      font-style: italic;
      font-size: 16px;
      line-height: 24px;
      color: $red;
    }
  }
}

.carousel-receitas-home {
  padding-bottom: 50px;
  background: #fcfcfc;
  .header {
    .title {
      color: $red;
    }
    .line {
      background: $green !important;
      margin: 25px 0 25px auto;
      position: relative;
      right: 70px;
      top: -20px;
    }
    .sub {
      margin-bottom: 0 !important;
    }
  }
  .wrapper-receitas {
    .tns-controls {
      width: 110% !important;
      left: -15px;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .banner-home {
    height: 600px;
    background-size: cover !important;
    background-position-y: 100% !important;
    background: url("../../dist/img/banner-home-lg.png") center center no-repeat;
    background-position-x: center !important;

    position: relative;
    .container {
      top: 50px;
      .title {
        flex: 0;
      }
      .position-custom {
        position: absolute;
        right: 0;
        top: 120px;
      }
      .box-green {
        position: absolute;
        right: 0;
        bottom: 20px;
      }
      .btn-cta {
        border: 2px solid white;
        background: transparent !important;
      }
      .btn-cta:hover {
        background: white !important;
        color: $red;
      }
    }
  }
  .is-home {
    padding-top: 30px;
    p {
      font-size: 20px;
      font-weight: bold;
    }
    .cafe-left {
      width: 400px;
      left: 10px;
      top: -156px;
    }
    .cafe-right {
      width: 300px;
      right: 0px;
      bottom: unset;
      top: 16px;
    }
    .btn-cta:hover {
      background: $red;
      color: white;
    }
  }
  .terc-export-home {
    .terc,
    .export {
      text-align: left;

      .title {
        font-size: 40px;
        line-height: 40px;
      }

      .box-imgs-lg {
        position: relative;
        .wrapper-1,
        .wrapper-2,
        .wrapper-3 {
          border-radius: 8px;
          overflow-y: hidden;
          overflow-x: hidden;

          div {
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out !important;
            border-radius: 8px;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important ;
          }
          &:focus div,
          &:hover div {
            transform: scale(1.2);
            transition: all 0.5s ease-in-out;
          }
        }
      }
      .title,
      p {
        margin-left: 0 !important;
      }
      .btn-cta {
        margin-left: 0 !important;
      }
    }

    .terc {
      margin-bottom: 250px;
      .box-imgs-lg {
        .wrapper-1 {
          width: 85%;
          height: 270px;
          div {
            background: url("../../dist/img/terc-home-lg1.png");
          }
        }
        .wrapper-2 {
          position: absolute;
          bottom: -280px;
          left: -20%;
          width: 300px;
          height: 230px;
          div {
            background: url("../../dist/img/terc-home-lg2.png");
          }
        }
        .wrapper-3 {
          position: absolute;
          bottom: -110%;
          right: 5%;
          width: 192px;
          height: 160px;
          div {
            background: url("../../dist/img/terc-home-lg3.png");
          }
        }
      }
      .btn-cta:hover {
        background: $blue;
        color: white;
      }
    }
    .export {
      .wrapper-1 {
        width: 300px;
        height: 230px;
        position: relative;
        left: 7%;
        margin-bottom: 420px;
        div {
          background: url("../../dist/img/exp-home-lg1.png");
        }
      }
      .wrapper-2 {
        position: absolute;
        bottom: -37px;
        right: -5%;
        width: 192px;
        height: 160px;
        div {
          background: url("../../dist/img/exp-home-lg2.png");
        }
      }
      .wrapper-3 {
        position: absolute;
        bottom: -380px;
        left: 0;
        width: 80%;
        height: 270px;
        div {
          background: url("../../dist/img/exp-home-lg3.png");
        }
      }
      .head,
      .title,
      p,
      .d-lg-flex {
        padding-left: 50px;
      }

      p {
        margin-bottom: 0;
        font-style: italic;
        &:last-of-type {
          margin-bottom: 40px;
        }
      }
      .btn-cta:hover {
        background: $red;
        color: white;
      }
    }
  }
  .carousel-receitas-home {
    .title {
      color: $red !important;
    }

    .header {
      .sub {
        font-size: 23px;
      }
    }

    .line {
      position: relative !important;
      right: -11px !important;
      top: -25px !important;
      max-width: 10%;
      margin: 30px auto !important;
      margin-bottom: 0 !important;
    }
  }

  .carousel-blog-home {
    .header {
      img {
        width: 70px;
      }
      .line {
        margin: 10px auto 20px auto;
      }
      .sub {
        font-size: 23px;
      }
    }
  }
}
