.banner-insumos {
  .banner {
    background: url("../../dist/img/banner-insumos-mob.png") center center
      no-repeat;
    h1 {
      width: 94%;
    }
  }
}

.is-insumos {
  .line {
    margin-bottom: 20px;
  }
  p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.insumos {
  .btn-categoria {
    margin-top: 30px;
    display: flex !important;
    justify-content: space-between;
    .title {
      font-size: 24px;
    }
    .green {
      background: $green;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
      margin-right: 5px;
    }
    .red {
      background: $red;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      color: white;
      .fa-minus {
        display: none;
      }
    }
    &:first-of-type {
      margin-top: 0;
    }
  }

  .collapse {
    .card,
    .card-body {
      border: none !important;
      padding: 30px;
    }
    .item {
      margin-bottom: 30px !important;
      .img-header {
        width: 100%;
        height: 243px;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      .content {
        text-align: center;
        padding: 30px;
        border-radius: 0px 0px 8px 8px;
        background: #fff;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        .title {
          font-size: 24px;
          line-height: 30px;
          color: $red;
          width: 80%;
          margin-left: auto;
          margin-right: auto;
        }
        .unidade {
          font-family: Gelasio;
          font-weight: normal;
          font-style: italic;
          font-size: 18px;
          line-height: 36px;
          color: $red;
        }
        p:last-of-type {
          margin-bottom: 10px;
        }
        .btn-cta {
          border-color: $red;
          color: $red;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints ,lg )) {
  .banner-insumos {
    .banner {
      background: url("../../dist/img/banner-insumos-desk.png") center center
        no-repeat;
      h1 {
        width: 40%;
      }
    }
  }

  .is-insumos p {
    font-size: 16px;
  }

  .insumos {
    max-width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
    .btn-categoria {
      .green {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .red {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 40px;
        .title {
          font-size: 38px;
        }
      }
    }
    .collapse {
      .card-body {
        padding: 30px 0;
      }
      .item-box {
        display: flex !important;
        flex-wrap: wrap !important;
        .item {
          width: 32.3% !important;
          margin: 5px;
          display: flex;
          flex-direction: column;
          .content {
            flex: 1;
            position: relative;
            padding-bottom: 90px;
            .btn-cta {
              position: absolute;
              bottom: 30px;
              left: 18%;
            }
          }
        }
      }
    }
  }
}
