.banner-locacao-maquinas {
  .banner {
    background: url("../../dist/img/banner-locacao.png") center center no-repeat;
    h1 {
      width: 94%;
      font-size: 35px;
    }
  }
}

.is-maquinas {
  padding-bottom: 0;
  p {
    text-align: center;
  }
}

.main-locacao {
  padding-top: 40px;
  .wrapper-red-box {
    width: 109.3%;
    margin-bottom: -30px;
    position: relative;
    right: 3px;
    .red-box-carousel {
      border-top-left-radius: 8px !important;
      .item {
        .wine-box {
          border-bottom-left-radius: 8px;
          border-top-left-radius: 8px;
          height: 208px;
          z-index: 2;
          background: #730217;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          .title {
            font-size: 35px;
            line-height: 36px;
            text-align: center;
            color: $gray;
            width: 75%;
          }
        }
        .red-box {
          position: relative;
          top: -5px;
          height: 270px;
          border-bottom-left-radius: 8px;
          background: $red;
          padding: 45px 65px 65px 65px;

          p {
            color: white;
            text-align: center;
            margin-bottom: 0;
          }
        }
      }
    }
    .tns-nav {
      text-align: center;
      position: relative;
      top: -60px;
      button {
        border-radius: 50%;
        width: 15px;
        height: 17px;
        margin: 6px;
        border: 2px solid white;
        outline: none;
        background: $red;
      }
      .tns-nav-active {
        background: white;
      }
    }
  }
}

.vantagens-maquinas {
  .vantagens {
    .vantagem {
      margin-bottom: 40px;
      display: flex;
      align-items: flex-start;
      img {
        width: 45px;
        margin-right: 15px;
      }
      .title {
        font-weight: bold;
        font-family: "Open Sans";
        font-style: normal;
        font-size: 19px;
        line-height: 22px;
        color: #212121;
      }
      p {
        color: #212121;
      }
    }
  }
}

.descubra-a-sua {
  padding-bottom: 40px;
  background: $gray;
  .intro-section {
    .title {
      margin: 0 auto;
    }
  }
  .wrapper {
    padding-bottom: 40px;

    .title-especialista {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      display: block;
      margin: 0 auto;
      margin-top: 30px !important;
      font-size: 35px;
      line-height: 50px;
      text-align: center;
      color: $red;
    }
    .carousel-maquinas {
      margin-bottom: 15px;
      display: flex;
      .item {
        border-radius: 8px;
        background: white;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        padding: 40px 30px;
        flex: 1;

        img {
          margin: 0 auto;
          display: block;
          height: 350px;
          padding-bottom: 47px;
        }
        .title {
          font-size: 27px;
          line-height: 35px;
          color: $red;
          padding-bottom: 20px;
        }
        .line {
          background: $green;
          height: 3px;
          margin-bottom: 25px;
        }
        p {
          font-size: 18px;
          margin-bottom: 44px;
        }
        ul {
          padding-left: 15px;
          margin-bottom: 0px;
          li {
            font-weight: bold;
            font-size: 18px;
            color: $green;
          }
          &:last-of-type {
            margin-bottom: 40px;
          }
        }
        .btn-cta {
          margin-left: 0;
          margin-top: 0;

          &:first-of-type {
            margin-bottom: 20px;
          }
        }

        &:last-of-type {
          img {
            height: auto;
          }
        }
      }
    }
    .btn-cta {
      color: $red;
      border-color: $red;
      margin-top: 50px;
      &:hover {
        background: $red;
        color: white;
      }
    }
    .tns-controls {
      display: flex;
      justify-content: space-between;
      width: 110%;
      position: relative;
      left: -15px;
      top: 150px;
      z-index: 5;
      button {
        width: 37px;
        height: 36px;
        background: #730217;
        border-radius: 50%;
        border: none;
        outline: none;
        i {
          color: white;
        }
      }
    }
  }
  .xicara-end {
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: map-get($grid-breakpoints,lg )) {
  .banner-locacao-maquinas {
    .banner {
      background: url("../../dist/img/banner-locacao.png") center center
        no-repeat;
      h1 {
        font-size: 41px;
      }
    }
  }
  .is-maquinas {
    padding-bottom: 0;
    p {
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .main-locacao {
    .wrapper-red-box {
      width: unset;
      .red-box-carousel {
        display: flex;
        p {
          font-size: 15px !important;
        }
        .item {
          width: 33%;
          position: relative;
          .red-box,
          .wine-box {
            border-radius: 0;
            filter: none;
            box-shadow: none;
          }
          .red-box {
            padding: 30px;
            height: 190px;
          }
          &:nth-child(2) {
            .wine-box {
              border-top-left-radius: 8px;
            }
            .red-box {
              border-bottom-left-radius: 8px;
            }
          }
          &:nth-child(4) {
            &::after {
              display: none;
            }
            .wine-box {
              border-top-right-radius: 8px;
            }
            .red-box {
              border-bottom-right-radius: 8px;
            }
          }
          &:after {
            display: block;
            content: "";
            height: 82%;
            width: 1px;
            background: #fff;
            position: absolute;
            right: 0;
            z-index: 5;
            top: 30px;
          }
        }
      }
    }
  }
  .vantagens-maquinas {
    .intro-section {
      .title {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .cafeteira-img {
      justify-content: center;
      align-items: center;
      background: $green;
      border-radius: 8px;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      position: relative;
      left: 50px;
      margin-right: 50px;

      img {
        position: relative;
        left: -100px;
        width: 400px;
      }
    }
  }
  .descubra-a-sua {
    .intro-section {
      .title {
        font-size: 43px;
      }
    }
    .carousel-maquinas {
      .item {
        padding-top: 60px !important;
        .d-lg-flex {
          align-items: center;
          height: 100%;
        }
        img {
          transition: 0.3s ease-in-out all;
          max-height: 400px;
          &:hover {
            transform: scale(1.1);
            transition: 0.3s ease-in-out all;
          }
        }
      }
    }
    .tns-controls {
      left: -53px !important;
      top: 250px !important;
    }
    .btn-cta:hover {
      background: $red;
      color: #fff;
    }
  }
}
