.banner-manutencao-oficina {
  .banner {
    background: url("../../dist/img/banner-manut-oficina-desk.png") center
      center no-repeat;
  }
}

.is-manutencao-oficina {
  p {
    text-align: center;
  }
  .line {
    margin-bottom: 30px;
  }
}

.sobre-manutencao {
  .green-box {
    padding: 30px;
    border-radius: 8px;
    background: $green;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 5;
    .item-green {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid white;
      margin-bottom: 30px;
      &:last-of-type {
        border: none;
        margin-bottom: 0;
        .text {
          margin-bottom: 0;
        }
      }
      img {
        margin-bottom: 30px;
      }
      .text {
        font-family: Gelasio;
        font-weight: bold;
        font-style: italic;
        font-size: 27px;
        line-height: 30px;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
      }
    }
  }
}

.map-iframe {
  width: 100% !important;
  height: 300px;
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 500px !important;
  }
}

.btn-referencia {
  .title {
    font-family: Gelasio;
    font-weight: bold;
    font-style: italic;
    font-size: 34px;
    line-height: 45px;
    text-align: center;
    color: $red;
    padding-bottom: 20px;
    margin: 0 auto;
  }
  .btn-cta {
    color: $red;
    border-color: $red;
    &:hover {
      background: $red;
      color: white;
    }
  }
}

.fc-manutencao {
  position: relative;
  top: -570px;
  padding-top: 600px;
  background: $gray;
  margin-bottom: -570px;

  span {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 28px;
    color: #212121;
  }
}

.custom-maquinas {
  position: relative;
  z-index: 5;
  margin-top: 55px;
}

.consulte-cidade {
  padding-bottom: 60px;
  background: $gray;
  .intro-section {
    .title {
      font-size: 36px;
    }
  }
  .city-box {
    .item {
      margin-bottom: 50px;
      .title {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 30px;
        color: #212121;
      }
      span {
        font-size: 21px;
        line-height: 35px;
        color: #212121;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: map-get( $grid-breakpoints,lg)) {
  .banner-manutencao-oficina {
    .banner {
      background: url("../../dist/img/banner-manut-oficina-desk.png") center
        center no-repeat;
    }
  }
  .is-manutencao-oficina {
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sobre-manutencao {
    .green-box {
      padding: 30px 0;
      .item-green {
        border-bottom: unset;
        border-right: 1px solid #fff;
        width: 33%;
        padding: 0 30px;
        margin-bottom: 0;
        &:last-of-type {
          .text {
            margin-bottom: 30px;
          }
        }
        .col-lg-10 {
          flex: none;
        }
      }
    }
  }
  .fc-manutencao {
    padding-top: 0px;
    margin-bottom: -200px;
    top: 0px;
    .intro-section {
      .title {
        font-size: 40px;
      }
      .line {
        width: 170px;
        margin: 20px auto;
      }
    }
  }

  .custom-maquinas {
    margin-top: 0;
  }
  .consulte-cidade {
    .line {
      margin: 20px auto;
      width: 250px;
    }
    .city-box {
      margin-left: auto;
      margin-right: auto;
      .d-flex,
      .item {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
