.banner-nossas-marcas {
  .banner {
    background: url("../../dist/img/banner-nossas-marcas-mob.png") center center
      no-repeat;
  }
}

.content-nossas-marcas {
  .intro {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    border-radius: 8px;
    background: #f8f8f8;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
  }

  .loop-marcas {
    .marca {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: white;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      height: 270px;
      margin-bottom: 30px;
      position: relative;
      .btn-view {
        width: 34px;
        height: 33px;
        background: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        bottom: 20px;
        position: absolute;
        i {
          position: relative;
          left: 2px;
          top: 1px;
          color: white;
        }
      }
    }
  }
}

.componente-revenda {
  margin-top: 80px;
  .revenda,
  .seja-cliente {
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;

    .mini {
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
    .title {
      font-size: 30px;
      line-height: 33px;
      margin-bottom: 20px;
    }
    .btn-cta {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .revenda {
    .title {
      color: $red;
    }
    .btn-cta {
      color: $red;
      border-color: $red;
    }
  }
  .seja-cliente {
    background: $red;
    margin-bottom: 45px;

    .mini,
    .title,
    p,
    .btn-cta {
      color: white;
    }
    .btn-cta {
      border-color: white;
    }
  }
}

@media (min-width: map-get($grid-breakpoints , lg)) {
  .content-nossas-marcas {
    .intro {
      margin-left: auto;
      margin-right: auto;
      transition: 0.2s ease-in-out all;

      &:hover {
        transform: scale(1.05);
        transition: 0.2s ease-in-out all;
      }
    }
    .bg-gray {
      background: $gray;
      padding-top: 70px;
      .loop-marcas {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
        .marca {
          margin-right: 15px;
          width: 31%;
          padding: 30px;
          transition: 0.2s ease-in-out all;

          a {
            display: none !important;
          }
          &:hover {
            transform: scale(1.05);
            transition: 0.2s ease-in-out all;
            a {
              display: flex !important;
              &:hover {
                background: $red;
              }
            }
          }
        }
      }
    }
  }
  .componente-revenda {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    .revenda,
    .seja-cliente {
      margin-bottom: 0;
      .mini {
        margin-bottom: 15px;
      }
    }
    .revenda {
      padding: 60px 170px 60px 100px;
      .btn-cta {
        margin-left: 0 !important;
      }
      .btn-cta:hover {
        background: $red;
        color: white;
      }
    }
    .seja-cliente {
      padding: 50px 40px 50px 50px;
      .btn-cta:hover {
        background: white;
        color: $red;
      }
    }
    .btn-cta {
      font-size: 15px !important;
      margin-left: 0 !important;
    }
  }
}
