.banner-sobre {
  .banner {
    background: url("../../dist/img/banner-sobre.png") center center no-repeat;
  }
}

.sobre-o-grupo {
  p a {
    color: $red;
  }
  .green-box {
    height: 77px;
    border-radius: 8px;
    background: $green;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin: 44px 0;
    span {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 21px;
      line-height: 23px;
      text-align: center;
      color: #fcfcfc;
    }
    .white-box {
      height: 68px;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      bottom: -4px;
      border-radius: 8px 8px 0px 0px;
      background: #f8f8f8;
      img {
        height: 80%;
      }
    }
  }
  .img-lavoura,
  .img-xicara {
    height: 136px;
    border-radius: 8px;
    background-size: cover !important;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  .img-lavoura {
    background: url("../../dist/img/lavoura-cafe.jpg") center center no-repeat;
  }
  .img-xicara {
    background: url("../../dist/img/xicara-cafe.jpg") center center no-repeat;
    margin-top: 40px;
    // margin-bottom: 70px !important;
  }
}

.controls-fake {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  div {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: white;
    }
  }
}

.fake-carousel-sobre {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 220px;
  display: flex;
  align-items: flex-end;
  margin-right: 30px;
  position: relative;

  .linha {
    width: 1170px;
    height: 2px;
    background: #888;
  }
  .item-box {
    width: 1170px;
    justify-content: space-around;
    display: flex;
    .up {
      position: relative;
      top: -62px;
    }
    .special-up {
      position: relative;
      top: -88px;
    }
    .down {
      position: relative;
      top: -8px;
    }
    .item {
      .color-red {
        color: $red;
      }
      .color-blue {
        color: $blue;
      }
      .red {
        background: $red;
      }
      .blue {
        background: $blue;
      }
      .title {
        font-family: Gelasio;
        font-weight: bold;
        font-style: italic;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
      }
      .sub {
        font-size: 15px;
        line-height: 26px;
        text-align: center;
      }
      .dot {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        margin: 0 auto;
      }
    }
  }
}

.porque-caicara {
  padding-top: 55px;
  background: #eeee;
  margin-bottom: -120px;

  .wrapper {
    .carousel-motivos {
      position: relative;
      z-index: 2;
      .item:last-child {
        width: calc(21%) !important;
      }
      .item {
        padding: 20px;
        margin-right: 10px;
        height: 280px;
        background: $red;
        border-radius: 8px;
        .box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            height: 60px;
          }
          .line {
            width: 70px;
            height: 3px;
            background: $green;
            margin: 15px auto;
          }
          p {
            line-height: 24px;
            text-align: center;
            color: #fff;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .graos-porque {
    height: 489px;
    background: url("../../dist/img/graos-porque.png") no-repeat;
    background-position-x: -222px;
    position: relative;
    top: -100px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .banner-sobre {
    .banner {
      background: url("../../dist/img/banner-sobre-lg.png") center center
        no-repeat;
    }
  }
  .sobre-o-grupo {
    .img-wrapper-lav:hover .img-lavoura,
    .img-wrapper-lav:focus .img-lavoura {
      transform: scale(1.2);
    }
    .img-lavoura {
      height: 100%;
      width: 100%;
      margin-bottom: 0;
      transition: 0.5s all ease-in-out;
    }
    .green-box {
      height: 121px;
      margin-bottom: 0;
      .white-box {
        height: 113px;
        right: 20px;
      }
      span {
        font-size: 34px;
        line-height: 37px;
      }
    }

    .img-wrapper-xic,
    .img-wrapper-lav {
      overflow-y: hidden;
      overflow-x: hidden;
      border-radius: 8px;
    }

    .img-wrapper-xic:hover .img-xicara,
    .img-wrapper-xic:focus .img-xicara {
      transform: scale(1.2);
    }

    .img-xicara {
      width: 100%;
      margin: 0;
      height: 100%;
      transition: 0.5s all ease-in-out;
    }
  }

  .fake-header {
    p {
      font-size: 19px !important;
    }
  }

  .fake-carousel-sobre {
    max-width: 1140px;
    margin: 0 auto;
    overflow-x: visible;
    overflow-y: visible;
    margin-bottom: 50px !important;
    .linha,
    .item-box {
      width: 1080px;
      .item:hover {
        transform: scale(1.05);
      }

      .up {
        top: -88px;
        &:hover {
          .blue {
            background: $red !important;
          }
          .color-blue {
            color: $red !important;
          }
        }
      }
      .down {
        &:hover {
          .blue {
            background: $red !important;
          }
          .color-blue {
            color: $red !important;
          }
        }
      }
      .special-up {
        top: -113px;
        &:hover {
          .blue {
            background: $red !important;
          }
          .color-blue {
            color: $red !important;
          }
        }
      }
    }
  }
  .porque-caicara {
    margin-bottom: unset;
    padding-bottom: 100px;
    position: relative;
    .intro-section {
      padding-top: 0;
      .title {
        text-align: left;
        padding-top: 0;
        width: unset;
        font-size: 35px;
        line-height: 50px;
        position: relative;
        z-index: 5;
      }
      .line {
        width: unset;
        position: relative;
        z-index: 5;
      }
      .text-center {
        position: relative;
        z-index: 5;
      }
    }
    .wrapper {
      .item {
        margin-right: 20px !important;
        margin-bottom: 20px !important;
        padding: 40px !important;
        height: unset;
        &:hover {
          transform: scale(1.02);
        }
      }
    }
    .graos-porque {
      background: url("../../dist/img/graos-porque-lg.png") center center
        no-repeat;
      height: 710px;
      position: absolute;
      bottom: 0;
      top: unset;
      left: 0;
    }
    .xicara-lg-sobre {
      position: absolute;
      left: 50px;
      bottom: 0;
      width: 47%;
    }
  }
}
