.banner-receitas {
  .banner {
    background: url("../../dist/img/banner-receitas.png") center center
      no-repeat;
    h1 {
      top: 200px;
    }
  }
}

.banner-receitas-single {
  .banner {
    background: url("../../dist/img/banner-receitas.png") center center
      no-repeat;
  }
}

.destaques-receitas {
  .sub {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
  }
  .tns-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 150px;
    z-index: 5;
    button {
      width: 37px;
      height: 36px;
      background: #fcfcfc;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 50%;
      outline: none;
      border: none;
    }
  }
}

.receitas {
  .categorys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 30px;
    border: none;
    li button,
    .divisor {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 21px;
      line-height: 50px;
      color: #1c1c5a;
      text-transform: uppercase;
      border: none;
      padding: 0;
    }
  }
  .receitas-response {
    padding-bottom: 40px;
    padding-top: 40px;
    background: $gray;
    .item {
      margin-bottom: 25px;
    }
    .red {
      margin-top: 40px;
      color: $red;
      border-color: $red;
    }
  }
}

.carousel-destaques-receitas,
.receitas-response {
  padding-bottom: 10px;
  .item {
    .img-header {
      height: 170px;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px 8px 0px 0px;
      -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.2);
    }
    .content {
      text-align: center;
      padding: 20px;
      border-radius: 0px 0px 8px 8px;
      background: white;
      -webkit-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 6px 5px -1px rgba(0, 0, 0, 0.2);
      min-height: 200px;
      position: relative;
      .categoria,
      .categoria a {
        font-size: 13px;
        letter-spacing: 0.12em;
        line-height: 20px;
        margin-bottom: 7px;
        color: #888;
      }
      .title {
        font-family: Gelasio;
        font-weight: bold;
        font-style: italic;
        font-size: 22px;
        line-height: 28.8px;
        color: $red;
        margin-bottom: 28px;
      }
      .btn-cta {
        border-color: $blue !important;
        color: $blue !important;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}

.blog-recipes {
  padding-bottom: 50px;
  .header {
    padding-top: 50px;
    .title {
      font-size: 40px;
      line-height: 59.4px;
      color: #1c1c5a;
    }
  }
  .line {
    height: 3px;
    background: $red;
    margin: 25px auto 25px auto;
    display: block;
  }
  .sub {
    text-align: center;
    color: #212121;
    margin-bottom: 50px;
  }
  .tns-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    top: 200px;
    width: 85%;
    left: 30px;
    button {
      width: 37px;
      height: 36px;
      background: #fcfcfc;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 50%;
      outline: none;
      border: none;
    }
  }
}

.carousel-blog-recipes {
  .item {
    height: 600px;
    background-size: cover !important;
    background-repeat: no-repeat;
    position: relative;
    .container {
      position: absolute;
      bottom: 25px;
      .title {
        color: #fcfcfc;
        font-size: 32px;
        line-height: 39.6px;
        padding-bottom: 12px;
      }
      p {
        color: #fff;
      }
      .btn-cta {
        color: #fff;
        border-color: #fff;
        margin: 25px auto 0 0;
      }
    }
  }
}
.intro-single-receitas {
  .title {
    color: $blue !important;
  }
}

.receita {
  background: $gray;
  .mini-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #212121;
    padding-bottom: 20px;
  }

  .img-receita {
    height: 440px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }

  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.receitas-single {
  .title {
    margin: 0 auto;
  }
}

.wrapper-receitas {
  .tns-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    top: 200px;
    width: 100%;
    button {
      width: 37px;
      height: 36px;
      background: #fcfcfc;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 50%;
      outline: none;
      border: none;
    }
    @media (min-width: map-get($grid-breakpoints, lg )) {
      width: 110% !important;
      left: -47px !important;
    }
  }
}

.intro-nossas-marcas {
  .title {
    font-size: 38px;
  }
  .title-english {
    display: none;
    font-size: 29px;
    margin-top: 30px;
  }
}

.wrapper-marcas {
  padding-bottom: 50px;
  .tns-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 95px;
    outline: none;
    z-index: 1;
    button {
      width: 34px;
      height: 33px;
      background: $blue;
      border-radius: 50%;
      border: none;
      outline: none;
      i {
        color: white;
      }
    }
  }
  .carousel-marcas {
    position: relative;
    top: 54px;
    height: 150px;
    .position-ajuste {
      position: relative;
      top: -40px;
    }
    .item {
      position: relative;
      z-index: 5;
      img {
        margin: 0 auto;
        display: block;
        max-width: 70%;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .wrapper-marcas {
    .position-ajuste {
      position: unset !important;
    }
  }

  .destaques-receitas {
    .sub {
      text-align: left;
      padding-bottom: 15px;
    }
  }

  .carousel-destaques-receitas .item .content .btn-cta:hover,
  .receitas-response .item .content .btn-cta:hover {
    background: $blue;
    color: white !important;
  }
  .carousel-destaques-receitas .item:hover,
  .receitas-response .item:hover {
    transform: scale(1.02);
    transition: 0.3s ease-in-out all;
  }
  .recipe-custom {
    .tns-controls {
      display: none !important;
    }
  }
  .receitas-response {
    .btn-cta:hover {
      background: $red;
      color: white;
    }
  }
  .categorys {
    li button:hover {
      color: $red !important;
    }
    li .active {
      color: $red !important;
    }
  }

  //  SINGLE

  .banner-receitas-single {
    background: url("../../dist/img/banner-receitas-single-desk.png") center
      center no-repeat;
  }
  .receita {
    position: relative;
    top: 200px;
    .top-150 {
      max-width: 1080px;
      margin: 0 auto;
      position: relative;
      padding-top: 250px;
    }
    .img-receita {
      top: -400px;
      position: absolute;
      margin-top: 200px;
      width: 100%;
      border-radius: 8px;
    }
  }
  .receitas-single {
    margin-top: 170px;
  }
  .bg-gray {
    background: $gray !important;
    padding-bottom: 70px;
  }
}
