.banner-sac {
  .banner {
    background: url("../../dist/img/banner-sac-mob.png") center center no-repeat;
    h1 {
      width: 250px;
      display: block;
      margin: 0 auto;
    }
    @media (min-width: map-get($grid-breakpoints,lg )) {
      background: url("../../dist/img/banner-sac-desk.png") center center
        no-repeat;
    }
  }
}

.intro-section-contato {
  .title {
    margin-left: auto;
    margin-right: auto;
  }
}

.section-sac {
  padding-bottom: 0;
  .intro-section-sac {
    .title {
      font-size: 37px;
    }
    .box-tel {
      margin-top: 60px;
      padding: 45px 25px;
      background: #fff;
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      a {
        display: flex;
        align-items: baseline;
        font-size: 20px;
        line-height: 35px;
        color: #212121;
      }
      .tel {
        font-family: Gelasio;
        font-weight: bold;
        font-style: italic;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #212121;
      }
      i {
        color: $green !important;
        font-weight: normal !important;
        padding-right: 7px;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .intro-section-sac {
    padding-bottom: 80px !important;
    .box-tel {
      padding: 75px !important;
      .tel {
        font-size: 40px !important;
        padding-bottom: 40px;
      }
      .text {
        font-size: 25px !important;
      }
      &:hover {
        transform: scale(1.01);
        transition: 0.2s ease-in-out all;
      }
    }
  }
}
