.product-info {
  .intro-section-tax {
    margin-top: -40px;
    .title {
      font-size: 35px;
      line-height: 45px;
      text-align: center;
      color: $red;
      padding-bottom: 20px;
    }
    .sub-title {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 22px;
      line-height: 25px;
      text-align: center;
      color: $red;
    }
    .lote {
      padding-top: 20px;
      font-family: Gelasio;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      text-align: center;
      color: #888;
    }
    .line {
      height: 2px;
      background: #fdbe2c;
      margin: 30px 0;
    }
    .img-produto {
      margin: 0 auto;
      display: block;
      height: 261px;
    }

    .description-intro {
      font-family: "Open Sans";
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #212121;
      margin: 34px 0;
    }

    .d-lg-flex {
      & + div {
        margin-top: 26px;
      }

      .box-description {
        border-radius: 8px;
        background: #fff;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        padding: 17px 19px;
        display: flex;
        align-items: center;

        span {
          font-size: 15px;
        }

        img {
          margin-right: 15px;
          width: 24px;
        }

        & + div {
          margin-top: 26px;
        }
      }
    }

    .qualidade-certificada {
      margin-top: 30px;
      margin-bottom: 70px;
    }

    .como-preparar,
    .informacoes-adicionais {
      .title {
        font-size: 28px;
        line-height: 35px;
      }
      p {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #212121;
      }
    }
  }
}
.custom-nossos {
  .title {
    color: $red;
  }
  .btn-cta {
    border-color: $red;
    color: $red;
    margin-top: 40px;
  }
}

@media (min-width: map-get($grid-breakpoints ,lg )) {
  .product-info {
    .intro-section-tax {
      display: flex;
      justify-content: space-between;

      p:last-of-type {
        padding-bottom: unset;
      }

      .title,
      .sub-title {
        margin: 0 auto;
      }

      .line {
        margin-right: auto;
        margin-left: auto;
      }

      .img-produto {
        margin: unset;
        height: 540px;
        object-fit: contain;
      }

      .box-items {
        justify-content: space-between;
        align-items: center;
        margin-top: 10px !important;
        .box-description {
          width: 49%;
          margin: 0 !important;
        }
      }

      .box-description {
        margin-top: 10px !important;
        padding: 20px 35px !important;
        img {
          margin-right: 30px !important;
        }
        &:hover {
          transform: scale(1.02);
        }
      }

      .qualidade-certificada {
        position: unset;
        margin-top: 10px !important;
      }
    }
  }
  .custom-nossos {
    .title {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  .nossos-produtos {
    .btn-cta {
      border-color: $red;
      color: $red;
      img {
        display: none;
        width: 30px;
      }
      &:hover {
        background: $red;
        color: white;
      }
    }
  }
}
