@media (min-width: map-get($grid-breakpoints,md)) and (max-width: map-get($grid-breakpoints,lg)) {
  // HOME
  .banner-home {
    .box-green {
      max-width: 45%;
    }
  }
  .locacao-home {
    .carousel-maquinas-home {
      height: 450px !important;
      top: 80px !important;
      .green {
        height: 350px !important;
        .low-size {
          width: 50% !important;
        }
      }
    }
  }
  .carousel-receitas-home {
    .line {
      margin: 30px auto !important;
      right: unset !important;
      top: unset !important;
    }
  }
  // FOOTER - MENU
  footer {
    padding-top: 215px;
  }
  .top-nav {
    .menu a,
    span {
      font-size: 24px !important;
    }
  }

  //SOBRE
  .sobre-o-grupo {
    .img-lavoura,
    .img-xicara {
      height: 300px;
    }
  }
  .porque-caicara {
    .graos-porque {
      background-position-x: unset !important;
    }
  }

  //LOCAÇÃO E VENDA DE MAQUINAS
  .main-locacao {
    .wrapper-red-box {
      width: 100% !important;
      .red-box-carousel {
        .wine-box,
        .red-box {
          border-radius: 8px;
        }
      }
    }
  }
  .descubra-a-sua {
    .wrapper {
      .tns-controls {
        left: -35px !important;
      }
      .carousel-maquinas {
        .item {
          img {
            height: 448px;
          }
        }
      }
    }
  }

  //INSUMOS PARA MAQUINAS
  .insumos {
    .item-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .item {
        max-width: 48%;
        display: flex;
        flex-direction: column;
        .content {
          flex: 1;
          position: relative;
          .btn-cta {
            position: absolute;
            bottom: 20px;
            left: 18%;
          }
        }
      }
    }
  }

  //TERCEIRIZAÇÃO E EXPORTAÇÃO
  .main-terc {
    .green-box {
      img {
        left: 27% !important;
        width: 45%;
      }
    }
  }
  .o-que-fazer .img-box .xicara-grao div {
    height: 350px !important;
  }
  .terc-form {
    .form-box {
      .d-flex p {
        width: 100%;
      }
    }
  }

  //NOSSAS MARCAS
  .componente-revenda {
    .seja-cliente {
      .btn-cta {
        margin-left: 0 !important;
      }
    }
  }
  .nossos-produtos {
    .product-box {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  //BLOG
  .banner-blog {
    .banner {
      background: url("../../dist/img/blog-banner-desk.png") center center
        no-repeat;
    }
  }
}
