.tax-red {
  .page-numbers {
    color: $red !important;
  }
  .title {
    color: $red !important;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: $red;
  }
}

.tax-yellow {
  .page-numbers {
    color: $yellow !important;
  }
  .title {
    color: $yellow !important;
  }
  .line {
    background: $red;
  }
  .qualidade-certificada {
    background: $yellow;
  }
}

.tax-brown {
  .page-numbers {
    color: #904231;
  }
  .title {
    color: #904231;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: #904231;
  }
  .btn-custom {
    background: #904231;
    border-color: #904231;
    &:hover {
      color: #904231 !important;
      background: white;
    }
  }
}

.tax-dbrown {
  .page-numbers {
    color: #341b15;
  }
  .title {
    color: #341b15;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: #341b15;
  }
  .btn-custom {
    background: #341b15;
    border-color: #341b15;
    &:hover {
      color: #341b15 !important;
      background: white;
    }
  }
}

.tax-black {
  .page-numbers {
    color: #212121;
  }
  .title {
    color: #212121;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: #212121;
  }
}

.tax-wine {
  .page-numbers {
    color: #730217;
  }
  .title {
    color: #730217;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: #730217;
  }
  .btn-custom {
    background: #730217;
    border-color: #730217;
    &:hover {
      color: #730217 !important;
      background: white;
    }
  }
}

.tax-green {
  .page-numbers {
    color: #102a16;
  }
  .title {
    color: #102a16;
  }
  .line {
    background: $yellow;
  }
  .qualidade-certificada {
    background: #102a16;
  }
  .btn-custom {
    background: #102a16;
    border-color: #102a16;
    &:hover {
      color: #102a16 !important;
      background: white;
    }
  }
}

.custom-section-map {
  .title {
    margin: 0 auto;
  }
  .btn-cta {
    color: white !important;
    margin-top: 40px;
  }
}

.barradenavegacao {
  padding: 0 15px;
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    li {
      margin: 0 15px;
      a {
        color: $blue;
      }
      .current {
        font-weight: 700;
      }
    }
  }
}
.sao-joaquim-custom {
  margin-top: 100px;
  border-radius: 8px;
  background: $red;
  padding: 80px 120px;
  position: relative;
  display: none;

  .time-line {
    left: 150px;
    height: 108%;
    width: 10px;
    border-left: 3px solid #ffbf00;
    position: absolute;
    top: -30px;
    div {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      background: #ffbf00;
      position: absolute;
      left: -16px;
    }
    .y-1898 {
      top: 27%;
    }
    .y-1922 {
      top: 38%;
    }
    .y-1933 {
      top: 47%;
    }
    .y-1941 {
      top: 57%;
    }
    .y-1991 {
      top: 65%;
    }
    .y-2011 {
      top: 72%;
    }
    .y-2012 {
      top: 80%;
    }
  }

  .text {
    margin: 0 0 0 auto;
    .title {
      padding-bottom: 25px;
    }
    .title,
    span {
      display: inline-block;
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 36px;
      line-height: 39px;
      text-align: left;
      color: #fcfcfc !important;
    }
    ul {
      padding-left: 0;
      li {
        list-style: none;
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        & + li {
          margin-top: 10px;
        }
      }
    }
  }
}

.intro-section-tax {
  margin-top: -100px;
  .box-marca-img {
    height: 173px;
    border-radius: 8px;
    background: #f4f4f4;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;

    img {
      width: unset !important;
    }
  }

  .qualidade-certificada {
    margin-top: 65px;
    margin-bottom: 20px;
    height: 78px;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;

    div {
      width: 136px;
      height: 72px;
      border-radius: 8px 8px 0px 0px;
      background: #f8f8f8;
      position: relative;
      top: 3px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .title {
      padding: 0;
      font-size: 21px;
      line-height: 23px;
      text-align: center;
      color: #fcfcfc !important;
    }
  }

  .line {
    margin-bottom: 40px;
  }

  .position-relative p {
    margin-bottom: 25px;
  }
}

.nossos-produtos {
  background: $gray;
  padding-top: 50px;
  padding-bottom: 50px;
  .title {
    font-size: 37px;
    line-height: 41px;
    text-align: center;
    padding-bottom: 20px;
  }
  .line {
    height: 3px;
    margin: 0 auto;
  }
  .product-box {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
      border-radius: 8px;
      background: #ffffff;
      margin-bottom: 20px;
      .line-red {
        display: block;
        background: $red;
        height: 3px;
        padding: 0;
        flex: none;
        margin-bottom: 7px;
      }
    }
    .item {
      width: 256px;
      height: 256px;
      padding-top: 140px;
      margin-top: 120px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        top: -100px;
        width: 60%;
      }
      // .line-red {
      //   display: none;
      // }
      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        max-width: 70%;
        text-align: center;
        color: #888;
      }
    }
  }
  .btn-cta {
    margin-top: 40px;
    border-color: $red;
    color: $red;
  }
}

@media (min-width: map-get($grid-breakpoints ,lg )) {
  //custom class
  .caicara {
    .img-caicara-wrapper {
      display: block !important;
    }
    .selo-caicara {
      background: url("../../dist/img/selo-caicara.png") center center no-repeat;
      display: block !important;
    }
  }
  .sao-joaquim {
    .selo-sj {
      display: block !important;
      background: url("../../dist/img/selo-sao-joaquim.png") center center
        no-repeat;
    }
  }

  .selo {
    position: absolute;
    height: 250px;
    width: 200px;
    background-size: contain !important;
    right: 0;
    bottom: 0;
    right: -80px;
    bottom: -80px;
  }
  .selo-caicara,
  .selo-sj {
    display: none;
  }
  .img-caicara-wrapper {
    display: none;
    height: 354px;
    width: 100%;
    border-radius: 8px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 20px;
    div {
      height: 100%;
      background: url("../../dist/img/caicara-lg-custom.png") center center
        no-repeat;
      background-size: cover;
      border-radius: 8px;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      transition: 0.5s all ease-in-out;
    }
  }

  .img-caicara-wrapper:hover div,
  .img-caicara-wrapper:focus div {
    transform: scale(1.2);
    transition: 0.5s all ease-in-out;
  }

  .intro-section-tax {
    .title {
      width: unset;
    }
    .box-marca-img {
      margin: 0 auto;
      padding: 40px;
    }
    .qualidade-certificada {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      height: 121px;
      .title {
        font-size: 27px;
        margin: 0;
      }
      div {
        width: 220px;
        height: 100px;
        top: 11px;
        left: 15px;
        img:hover {
          transform: scale(1.03);
          transition: 0.3s ease-in-out all;
        }
      }
    }
    p:last-of-type {
      padding-bottom: 150px;
    }
    .img-wrapper {
      height: 100%;
      border-radius: 8px;
      overflow-y: hidden;
      overflow-x: hidden;
      div {
        height: 100%;
        background-size: cover !important;
        border-radius: 8px;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        transition: 0.5s all ease-in-out;
      }
    }
    .img-wrapper:hover div,
    .img-wrapper:focus div {
      transform: scale(1.2);
      transition: 0.5s all ease-in-out;
    }
  }
  .nossos-produtos {
    .product-box {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      .item {
        width: 33%;
        margin-bottom: 50px;
        img {
          width: 46%;
        }

        & {
          filter: none;
          border-radius: 8px;
          background: none;
          .line-red {
            display: none;
          }
        }
        &:hover {
          filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
          border-radius: 8px;
          background: #ffffff;
          // .line-red {
          //   display: block;
          //   height: 3px;
          //   background: $red;
          //   padding: 0;
          //   flex: none;
          //   margin-bottom: 7px;
          // }
        }
      }
    }
    .btn-cta {
      margin-top: unset;
    }
  }
}

#wpsl-wrap{
  .wpsl-search{
    border-radius: 8px;
    background: #f8f8f8;
    box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
  }
  #wpsl-search-wrap {

    form {
      display: flex;
      align-items: center;
      .wpsl-input {
        @extend .col-10;
        label,
        input {
          width: 100%;
          
        outline: none;
        background: transparent;
        }
        input{
          border: 1px solid #c7c7c7;
        }
        @media (min-width: map-get($grid-breakpoints,lg)) {
          // @include make-col(5);
        }
      }
      .wpsl-checkbox-3-columns {
        @extend .col-12;

        li {
          width: auto;
          margin: 0 15px;
        }
        @media (min-width: map-get($grid-breakpoints,lg)) {
          @include make-col(5);
          margin: 0;
        }
      }
      .wpsl-search-btn-wrap {
        @extend .col-12;
        input {
          border: none;
          box-shadow: none;
          margin-top: 32px;
          width: 25px;
          height: 25px;
          background: url(data:image/webp;base64,UklGRuYAAABXRUJQVlA4TNkAAAAvFUAFEL+gqG0kx/w/C7hdBaG2bRuG/y8+2Clq27Zh+P/ig51iIACKLCgL5P+pLLEHQCTK1uvfIHr9PxaDAqFv6/+QB4HDSJKcZvEeRrzLP9bnDqqUQET/FbZt21hOuucZktSMKxxzL5/h5MnRehGAJQ5xh9PxAHtRJV+c5RnNyS5DexGcssgS7SVughwaGFSB6Ek30Si9aFLl95J2c4uFzYsCnSoJsqOFq5FpOj+ZIHpfdo5NHZ2BrTHOF7CuG+C7hOfcKwbfKkOcYtdIjn3+46BP3psvUmwEAA==) no-repeat center center transparent;
        }
        @media (min-width: map-get($grid-breakpoints,lg)) {
          @include make-col(2);
        }
      }
    }
  }
  #wpsl-result-list{
    ul{
      @extend .container;
      padding-top: 60px;
      padding-bottom: 60px;
      li {
        @extend .col-12;
        background:0;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        padding: 10px !important;
        margin:5px;
        border: 0;
        a {
          font-weight: bold;
          text-decoration: underline !important;
          font-size: 11px;
          line-height: 16.5px;
          color: $red;
        }
      }
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      
      ul {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        li {
          // @include make-col(2.9);
          flex: 0 0 23.16667%;
          max-width: 23.16667%;
          &:hover {
            transform: scale(1.02);
          }
          a:hover {
            color: $blue;
          }
        }
      }
    }
  }
}