.banner-terceirizacao {
  .banner {
    background: url("../../dist/img/banner-terc-mob.png") center center
      no-repeat;
    h1 {
      width: unset !important;
    }
    .sub {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 20px;
      line-height: 28.8px;
      text-align: center;
      color: #fff;
      position: relative;
      top: 180px;
    }
  }
}

.is-terc {
  .title {
    font-size: 35px;
    line-height: 40px;
  }
}

.main-terc {
  padding-top: 195px;
  .green-box {
    border-radius: 8px;
    background: $green;
    padding: 45px;
    padding-top: 170px;
    position: relative;
    margin-bottom: 40px;
    img {
      position: absolute;
      top: -190px;
      left: 0;
    }
    p {
      font-family: "Open Sans";
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #212121;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.o-que-fazer {
  padding-bottom: 40px;
  p {
    text-align: center;
  }
  .img-box {
    position: relative;
    margin-bottom: 100px;
    div {
      border-radius: 10px;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
    }
    .xicara-grao {
      div {
        background: url("../../dist/img/terc-img1.png") center center no-repeat;
        background-size: cover;
        height: 195px;
        width: 100%;
      }
    }
    .caminhao {
      position: absolute;
      right: -20px;
      bottom: -70px;
      div {
        background: url("../../dist/img/terc-img2.png") center center no-repeat;
        background-size: cover;
        height: 95px;
        width: 125px;
      }
    }
  }
  ul {
    padding-left: 15px;
    padding-bottom: 20px;
    li {
      font-size: 16px;
      line-height: 24px;
      color: #212121;
      padding-bottom: 20px;
      &::marker {
        font-size: 10px !important;
      }
    }
  }
}

.mini-title-terc {
  font-family: Gelasio;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
  line-height: 25.8px;

  text-align: center;
  color: $red;
  padding-bottom: 25px;
}
.mini-title-terc.blue {
  color: $blue;
  padding-bottom: 0;
}

.terc-form {
  background: $gray;
  padding-top: 40px;
  padding-bottom: 40px;

  .custom-estado {
    background-position-x: 95%;
  }
  .form-box {
    padding: 0;
    .d-lg-flex {
      margin-bottom: 20px;
    }
  }
  .textura-cafe {
    .box-0 {
      background: url("../../dist/img/text1.png") center center no-repeat;
    }
    .box-1 {
      background: url("../../dist/img/text2.png") center center no-repeat;
    }
    .box-2 {
      background: url("../../dist/img/text3.png") center center no-repeat;
    }
    .box-3 {
      background: url("../../dist/img/text4.png") center center no-repeat;
    }
  }
  .tipo-embalagem {
    .box-thumb {
      height: 197px !important;
    }
    .box-0 {
      background: url("../../dist/img/emb1.png") center center no-repeat;
    }
    .box-1 {
      background: url("../../dist/img/emb2.png") center center no-repeat;
    }
    .box-2 {
      background: url("../../dist/img/emb3.png") center center no-repeat;
    }
    .box-3 {
      background: url("../../dist/img/emb4.png") center center no-repeat;
    }
  }
  .linha-cafe {
    margin-top: -30px;
    label,
    pre {
      text-align: left !important;
      // font-family: "Open Sans";
      font-family: Gelasio;

      font-size: 18px;
      line-height: 24px;
      text-align: left;
      color: #888;

      input {
        position: relative;
        left: 20px;
        top: 20px;
      }
    }
  }

  .wpcf7-form-control {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .wpcf7-list-item {
      margin-left: 0;
    }
    label {
      text-align: center;
      .box-thumb {
        width: 150px;
        height: 110px;
        border-radius: 8px;
        background-size: cover !important;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
      }
      .wpcf7-list-item-label {
        position: relative;
        top: -50px;
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #212121;
      }
    }
  }

  input[type="text"],
  input[type="email"],
  select {
    width: 100%;
    height: 65px;
    border-radius: 32.5px;
    background: transparent;
    border: 1px solid #333;
    padding-left: 15px;
    color: #000;
    padding-right: 15px;
    outline: none;
    font-family: "Open Sans";

    &::placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      font-size: 18px;
      color: black;
      font-weight: 600;
    }
  }
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #333;
    font-size: 18px;
    padding-right: 25px;
    position: relative;
    background: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMzA2cHgiIGhlaWdodD0iMzA2cHgiIHZpZXdCb3g9IjAgMCAzMDYgMzA2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMDYgMzA2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBvbHlnb24gcG9pbnRzPSIyNzAuMyw1OC42NSAxNTMsMTc1Ljk1IDM1LjcsNTguNjUgMCw5NC4zNSAxNTMsMjQ3LjM1IDMwNiw5NC4zNSIvPjwvZz48L3N2Zz4=)
      center right no-repeat;
    background-size: 8px 8px;
    background-position-y: 53%;
    color: #888 !important;
    font-weight: 600;
    &::placeholder,
    &::-moz-placeholder {
      color: #888 !important;
    }
  }
  .mini-title-terc {
    padding-top: 30px;
  }
  .btn-cta {
    color: $red;
    border-color: $red;
    margin-left: auto;
    margin-right: auto;
  }
}

.terc-end {
  padding-top: 40px;
  .mini-title-terc {
    text-align: left;
    font-size: 20px;
    margin-bottom: 0;
  }
}

.para-informacoes {
  .box-infos {
    .whats {
      span {
        font-size: 16px !important;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints , lg)) {
  .banner-terceirizacao {
    .banner {
      background: url("../../dist/img/banner-terc-desk.png") center center;
      .sub {
        top: 270px;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }

  .is-terc {
    .line {
      margin: 20px auto;
      width: 250px;
    }
  }
  .main-terc {
    padding-top: 100px;
    .green-box {
      display: flex;
      padding-top: 80px;
      height: 362px;
      img {
        position: relative;
        left: unset;
        top: -200px;
        height: 426px;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: rotate(-5deg);
          transition: all 0.2s ease-in-out;
        }
      }
      p {
        font-size: 19px;
        margin-bottom: 20px;
      }
    }

    .o-que-fazer {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      position: relative;
      ul {
        padding-bottom: 0;
        li {
          padding-bottom: 10px;
        }
      }
      .info {
        height: 62px;
        border-radius: 6px;
        background: transparent;
        border: 2px solid #ca1632;
        color: $red;
        font-family: Gelasio;
        font-weight: bold;
        font-style: italic;
        font-size: 24px;
        line-height: 28.8px;
        padding: 15px;
        margin-bottom: 30px;
      }
      .mini-title-terc {
        text-align: left;
        font-size: 30px;
      }
      p {
        text-align: left;
        margin-bottom: 40px;
      }

      .xicara-wrapper {
        border-radius: 8px;
        box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
        overflow-y: hidden;
        overflow-x: hidden;
        position: absolute;
        right: -50px;
        top: -140px;

        &:hover div,
        &:focus div {
          transform: scale(1.2);
        }
        div {
          width: 160px;
          height: 119px;
          border-radius: 8px;
          background: url("../../dist/img/terc-img3.png") center center
            no-repeat;
          transition: 0.5s all ease-in-out;
          background-size: cover;
        }
      }

      .img-box {
        .xicara-grao {
          overflow-y: hidden;
          overflow-x: hidden;
          width: 90%;
          div {
            transition: 0.5s all ease-in-out;
            height: 295px;
          }
          &:hover div,
          &:focus div {
            transform: scale(1.2);
          }
        }
        .caminhao {
          overflow-y: hidden;
          overflow-x: hidden;
          bottom: -30px;
          div {
            transition: 0.5s all ease-in-out;
          }
          &:hover div,
          &:focus div {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .terc-form {
    .form-box {
      border-radius: 8px;
      background: #fff;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      padding: 100px 110px;
      padding-bottom: 50px !important;

      .wpcf7-list-item:hover {
        -webkit-filter: brightness(90%);
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      .d-flex {
        p {
          width: 100%;
        }
      }
      .email {
        width: 120%;
        margin-right: 10px;
      }
      .custom-email,
      .custom-cnpj {
        border-radius: 32.5px 0px 0px 32.5px !important;
        margin-bottom: 1rem;
      }
      .custom-tel,
      .custom-cidade {
        border-radius: 0 32.5px 32.5px 0 !important;
        margin-bottom: 1rem;
      }

      .custom-estado {
        border-radius: 0 !important;
        background-position-x: 95%;
      }

      .cidade,
      .estado,
      .cnpj {
        margin-right: 10px;
      }
      .btn-cta:hover {
        background: $red;
        color: white;
      }
      .linha-cafe {
        .wpcf7-list-item {
          width: 32% !important;
        }
      }
    }
  }
  .terc-end {
    background: $gray;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .para-informacoes {
    .box-infos {
      .whats span {
        font-size: 40px !important;
        margin-left: 20px;
      }
      .d-lg-flex {
        margin: 0 auto;
      }
    }
  }
}
