@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

$red: #cc102d;
$green: #cccb2a;
$blue: #1c1c5a;
$gray: #fcfcfc;
$yellow: #fdbe2c;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans";
  color: #888;
  span {
    display: block;
  }
}

img {
  @extend .img-fluid;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}

p {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
  color: #212121;
}

.container {
  padding: 0 30px;
}

.banner {
  height: 329px;
  background-size: cover !important;
  h1 {
    font-family: Gelasio;
    font-weight: bold;
    font-style: italic;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    color: #fcfcfc;
    position: relative;
    top: 170px;
    width: 70%;
    margin: 0 auto;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    height: 459px;
    h1 {
      top: 250px !important;
      font-size: 50px;
      line-height: 56.4px;
    }
  }
}

.intro-section {
  padding-top: 25px;
  padding-bottom: 40px;
  img {
    margin: 0 auto;
    display: block;
    width: 50px;
  }
  .title {
    padding-top: 25px;
    font-family: Gelasio;
    font-weight: bold;
    font-style: italic;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: $red;
  }
  .line {
    width: 165px;
    height: 3px;
    background: $green;
    margin: 20px auto;
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    padding-top: 70px;
    img {
      width: 65px;
    }
    .title {
      width: 700px;
      display: block;
      margin: 0 auto;
      font-size: 47px;
      line-height: 50px;
    }
    .line {
      width: 430px;
      margin: 40px auto;
    }
    p {
      font-size: 20px;
    }
  }
}

.whats-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .text-whats {
    display: none;
  }
  i {
    font-size: 27px;
    color: #fff;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    outline: none;
    background: $green;
    padding: 20px 10px;
    filter: drop-shadow(1px 2px 11px rgba(0, 0, 0, 0.1));
    border-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 70px;
    bottom: unset;
    height: 120px;
    right: unset;
    left: 0;
    top: 305px;
    transition: 0.2s ease-in all;
    justify-content: space-between;
    i {
      font-size: 35px;
      margin-left: 10px;
    }
    .text-whats {
      display: block;
      position: relative;
      left: -300px;
    }
    .mini {
      font-size: 17px;
      line-height: 18px;
      color: white;
      padding-bottom: 10px;
    }
    .number {
      font-weight: bold;
      font-size: 19px;
      line-height: 22px;
      color: $blue;
    }
    &:hover {
      transform: scale(1.02);
      width: 245px;
      transition: 0.2s ease-in width;
      .text-whats {
        left: 0;
        transition: 0.4s ease-in-out left;
      }
    }
  }
}

.contato-without-map {
  .title {
    font-size: 30px;
    padding-top: 0;
  }
  .btn-cta {
    border-color: $red;
    color: $red;

    &:hover {
      background: $red;
      color: white;
    }
  }
}

.onde-estamos {
  background: white;
  .intro-section {
    margin: 10px auto;
    margin-bottom: 15px !important;
    .title {
      font-size: 38px;
    }
    img {
      width: unset;
    }
    .title-blue {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 31px;
      line-height: 38px;
      text-align: center;
      color: $blue;
      padding-bottom: 33px;
    }
    .d-flex {
      margin: 0 auto;
      i {
        color: $green;
      }
      p {
        font-size: 18px;
        color: #212121;
      }
    }
    .input-search {
      margin-top: 35px;
      padding: 25px;
      height: 97px;
      border-radius: 8px;
      background: #f8f8f8;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      position: relative;
      textarea {
        width: 70%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
      }

      a {
        position: absolute;
        top: 40px;
      }
      .alvo {
        right: 60px;
      }
      .lupa {
        right: 20px;
      }
    }
  }
  .response-search {
    padding-top: 60px;
    padding-bottom: 60px;
    .item {
      background: #f8f8f8;
      box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin-bottom: 21px;
      a {
        font-weight: bold;
        text-decoration: underline !important;
        font-size: 11px;
        line-height: 16.5px;
        color: $red;
      }
    }
  }
  .btn-ver-mais {
    height: 45px;
    border-radius: 22.5px;
    background: transparent;
    border: 2px solid $red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: $red;
    margin: 0 auto;
    margin-bottom: 50px !important;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    .input-search {
      height: 75px !important;
      a {
        top: 27px !important;
      }
    }
    .btn-ver-mais {
      margin-top: 0 !important;
      &:hover {
        background: $red;
        color: white;
      }
    }
    .response-search {
      justify-content: space-around;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 20px;
      .item {
        width: 22%;
        &:hover {
          transform: scale(1.02);
        }
        a:hover {
          color: $blue;
        }
      }
    }
  }
}

.title {
  font-family: Gelasio;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .m-auto {
    margin: 0 auto;
  }
}

.btn-cta {
  height: 45px;
  border-radius: 22.5px;
  background: transparent;
  border: 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 auto;
  img {
    display: none;
  }
}
.btn-loading {
  background: $red;
  img {
    display: block !important;
    width: 30px;
  }
  span {
    display: none;
  }
}

.box-infos {
  border-radius: 8px;
  background: white;
  box-shadow: 1px 2px 11px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;

  i {
    margin-right: 9px;
    font-size: 25px;
    color: $green;
  }

  .whats {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    span {
      font-family: Gelasio;
      font-weight: bold;
      font-style: italic;
      font-size: 26px;
      line-height: 30px;
      color: #212121;
    }
  }
  .btn-contato,
  .btn-map {
    display: flex;
    align-items: center;
    i {
      font-size: 18px;
    }
    span {
      font-family: "Open Sans";
      font-size: 18px;
      line-height: 28px;
      color: #212121;
    }
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    margin-left: auto;
    margin-right: auto;
    padding: 80px 130px;
    .whats {
      justify-content: center;
      margin-bottom: 50px;
      outline: none;
      span,
      i {
        font-size: 45px;
      }
    }
  }
}

@import "blog";
@import "contato";
@import "exportacao";
@import "footer";
@import "header";
@import "home";
@import "insumos-para-maquinas";
@import "locacao-e-vendas-de-maquinas";
@import "manutencao-e-oficina";
@import "nossas-marcas";
@import "page-sobre";
@import "receitas";
@import "sac-ouvidoria";
@import "single-produtos";
@import "taxonomy-marcas";
@import "tablet";
@import "terceirizacao";
